* {
  margin: 0;
  padding: 0;
}

#sidebar {
  color: #fff;
  background-color: #2c3e50;
  width: 300px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 20px 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

#sidebar.active {
  left: -300px;
}

#sidebar #close-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-size: 2rem;
  padding: 15px;
}

#sidebar i {
  margin-right: 12px;
  font-size: 1.3rem;
}

#sidebar #sidebar-header {
  padding-bottom: 30px;
}

#sidebar-header h3 {
  text-align: left;
  font-size: 1.3rem;
}

#sidebar #welcome {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sidebar-header #welcome {
  font-weight: bold;
}

#sidebar a {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

#sidebar-menu .active,
#sidebar a:hover {
  background-color: #fff;
  color: #2c3e50;
}

#sidebar #logout {
  margin-top: auto;
  text-align: left;
  padding: 12px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

#sidebar #logout:hover {
  color: #2c3e50;
  background-color: #fff;
  border-radius: 8px;
}

.content {
  font-size: 1.2rem;
  margin-left: 300px;
  padding: 20px;
  transition: margin-left 0.3s;
}
.content.active {
  margin-left: 0px;
}

.content .action {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.action #hamburger-menu {
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 8px;
  margin-right: 20px;
}

.action h2 {
  font-size: 3rem;
}

.content .grid-menu {
  padding-top: 20px;
}

.grid-menu .card {
  border: none;
  border-radius: 8px;
  background-color: #b8e8ff;
  height: 100%;
  border-bottom: 10px solid #2c3e50;
}

.grid-menu .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
}

.grid-menu .card-body i {
  font-size: 3rem;
}

.grid-menu .card-body .details {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid-menu .card-body .count {
  padding-top: 5px;
  font-weight: bold;
}

.jadwal {
  padding-top: 2rem;
}

.jadwal_list .card {
  margin-bottom: 12px;
  border-color: #2c3e50;
}

.jadwal_list .card-body {
  display: flex;
  justify-content: space-between;
}
